[Unit]
Description=RackPi Power Driver
After=network.target

[Service]
ExecStart=/usr/bin/python /usr/local/bin/RackPiPower.py
Restart=on-abort
KillMode=process

[Install]
WantedBy=multi-user.target